@charset "utf-8";
/* CSS Document */

/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.1
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/


#toTop {background:url(../images/totop.png) no-repeat 0 0;
	display:none;
	position:fixed;
	right:54%;
	bottom:100px;
	border:none;
	z-index:20;
	height:14px;
	width:28px;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;font-size:0;line-height:0
}


#toTopHover, #toTop:hover {
	display:block;
	background-position:0 bottom;
}

#toTop:active, #toTop:focus {
	outline:none;
}
